<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/mytasks" class="fas fa-arrow-left" style = "font-size: 5vh;" id = "backPage"></a>
    <span style = "margin-left: 20px;">ToDoList</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class = "container" style = "margin-top: 10px;">
  <div class="list-group">
    <ul style = "list-style-type: none;">
      <li *ngFor = "let i of this.productData; let j = index;">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Update {{j + 1}}</h5>
            <small>{{i.start_time}}</small>
          </div>
          <p class="mb-1">{{i.descreption}}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
